*{
    margin: 0%;
    padding: 0%;
    background-color: chartreuse;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
    flex-direction:row;
}
.panel{
    flex: 1;
    height: 100%;
    border: solid 2px;
}
.open{
    flex: 5;
    font-size: 40px;
}
